# HTML-парсер
beautifulsoup4>=4.12

# Для HTTP-запросов к Zulubet и Telegram
requests>=2.31

# Forebet API через curl_cffi (имитация браузера)
curl-cffi==0.14.0b4

# Парсер HTML для BeautifulSoup с высокой скоростью
lxml>=4.9
